(
    version: 1,
    level: (
        name: "The Sealed Path",
        spawn: (0, 1, 5),
        blocks: [
        (position: (-1, 0, 4), kind: Grass),
        (position: (-1, 0, 5), kind: Grass),
        (position: (0, 0, -6), kind: Grass),
        (position: (0, 0, -5), kind: Grass),
        (position: (0, 0, -4), kind: Grass),
        (position: (0, 0, -3), kind: Grass),
        (position: (0, 0, -2), kind: Grass),
        (position: (0, 0, -1), kind: Grass),
        (position: (0, 0, 0), kind: Grass),
        (position: (0, 0, 0), kind: Stone),
        (position: (0, 0, 1), kind: Grass),
        (position: (0, 0, 2), kind: Grass),
        (position: (0, 0, 3), kind: Grass),
        (position: (0, 0, 4), kind: Grass),
        (position: (0, 0, 5), kind: Grass),
        (position: (0, 0, 6), kind: Grass),
        (position: (0, 1, -5), kind: Goal),
        (position: (0, 1, 0), kind: Stone),
        (position: (0, 2, 0), kind: Stone),
        (position: (1, 0, -6), kind: Grass),
        (position: (1, 0, -5), kind: Grass),
        (position: (1, 0, -4), kind: Grass),
        (position: (1, 0, -3), kind: Grass),
        (position: (1, 0, -2), kind: Grass),
        (position: (1, 0, -1), kind: Grass),
        (position: (1, 0, 0), kind: Grass),
        (position: (1, 0, 1), kind: Grass),
        (position: (1, 0, 2), kind: Grass),
        (position: (1, 0, 3), kind: Grass),
        (position: (1, 0, 4), kind: Grass),
        (position: (1, 0, 5), kind: Grass),
        (position: (1, 0, 6), kind: Grass),
        (position: (2, 0, 1), kind: Grass),
        (position: (2, 0, 2), kind: Grass),
        (position: (2, 0, 3), kind: Grass)
    ],
        entities: [
        (id: 1, kind: Glimmer, cell: (0, 1, 4)),
        (id: 2, kind: Glimmer, cell: (2, 1, 2)),
        (id: 3, kind: Glimmer, cell: (-1, 1, 5)),
        (id: 4, kind: Seal, cell: (1, 1, 0), param: 3.0)
    ],
        tracks: [
        
    ],
        entities_version: 1,
        author_time: Some(11.0),
        author_deaths: 0,
        is_verified: true,
    ),
)
