(
    version: 1,
    level: (
        name: "Air Mail",
        spawn: (0, 1, 7),
        blocks: [
        (position: (0, 0, -17), kind: Grass),
        (position: (0, 0, -16), kind: Grass),
        (position: (0, 0, -15), kind: Grass),
        (position: (0, 0, -8), kind: Grass),
        (position: (0, 0, -7), kind: Grass),
        (position: (0, 0, -6), kind: Grass),
        (position: (0, 0, 0), kind: Grass),
        (position: (0, 0, 1), kind: Grass),
        (position: (0, 0, 2), kind: Grass),
        (position: (0, 0, 3), kind: Grass),
        (position: (0, 0, 4), kind: Grass),
        (position: (0, 0, 5), kind: Grass),
        (position: (0, 0, 6), kind: Grass),
        (position: (0, 0, 7), kind: Grass),
        (position: (0, 0, 8), kind: Grass),
        (position: (0, 1, -16), kind: Goal),
        (position: (1, 0, -17), kind: Grass),
        (position: (1, 0, -16), kind: Grass),
        (position: (1, 0, -15), kind: Grass),
        (position: (1, 0, -8), kind: Grass),
        (position: (1, 0, -7), kind: Grass),
        (position: (1, 0, -6), kind: Grass),
        (position: (1, 0, 0), kind: Grass),
        (position: (1, 0, 1), kind: Grass),
        (position: (1, 0, 2), kind: Grass),
        (position: (1, 0, 3), kind: Grass),
        (position: (1, 0, 4), kind: Grass),
        (position: (1, 0, 5), kind: Grass),
        (position: (1, 0, 6), kind: Grass),
        (position: (1, 0, 7), kind: Grass),
        (position: (1, 0, 8), kind: Grass)
    ],
        entities: [
        (id: 1, kind: LaunchPad, cell: (0, 1, -1), yaw_deg: 0.0, param: 16.0),
        (id: 2, kind: DriftPlate, cell: (0, 1, -9), param: 2.5, track: Some(1))
    ],
        tracks: [
        (id: 1, points: [(0, 1, -9), (0, 1, -14)], mode: PingPong, speed: 2.5)
    ],
        entities_version: 1,
        author_time: Some(10.5),
        author_deaths: 0,
        is_verified: true,
    ),
)
