(
    version: 1,
    level: (
        name: "Channel Surfing",
        spawn: (0, 1, 8),
        blocks: [
        (position: (0, 0, -16), kind: Grass),
        (position: (0, 0, -15), kind: Grass),
        (position: (0, 0, -14), kind: Grass),
        (position: (0, 0, -13), kind: Grass),
        (position: (0, 0, -12), kind: Grass),
        (position: (0, 0, -11), kind: Grass),
        (position: (0, 0, -10), kind: Grass),
        (position: (0, 0, -9), kind: Grass),
        (position: (0, 0, -8), kind: Grass),
        (position: (0, 0, -7), kind: Grass),
        (position: (0, 0, -7), kind: Stone),
        (position: (0, 0, -6), kind: Grass),
        (position: (0, 0, -5), kind: Grass),
        (position: (0, 0, -4), kind: Grass),
        (position: (0, 0, -3), kind: Grass),
        (position: (0, 0, -2), kind: Grass),
        (position: (0, 0, -1), kind: Grass),
        (position: (0, 0, 0), kind: Grass),
        (position: (0, 0, 4), kind: Grass),
        (position: (0, 0, 5), kind: Grass),
        (position: (0, 0, 6), kind: Grass),
        (position: (0, 0, 7), kind: Grass),
        (position: (0, 0, 8), kind: Grass),
        (position: (0, 0, 9), kind: Grass),
        (position: (0, 1, -13), kind: Goal),
        (position: (0, 1, -7), kind: Stone),
        (position: (0, 2, -7), kind: Stone),
        (position: (1, 0, -16), kind: Grass),
        (position: (1, 0, -15), kind: Grass),
        (position: (1, 0, -14), kind: Grass),
        (position: (1, 0, -13), kind: Grass),
        (position: (1, 0, -12), kind: Grass),
        (position: (1, 0, -11), kind: Grass),
        (position: (1, 0, -10), kind: Grass),
        (position: (1, 0, -9), kind: Grass),
        (position: (1, 0, -8), kind: Grass),
        (position: (1, 0, -7), kind: Grass),
        (position: (1, 0, -6), kind: Grass),
        (position: (1, 0, -5), kind: Grass),
        (position: (1, 0, -4), kind: Grass),
        (position: (1, 0, -3), kind: Grass),
        (position: (1, 0, -2), kind: Grass),
        (position: (1, 0, -1), kind: Grass),
        (position: (1, 0, 0), kind: Grass),
        (position: (1, 0, 4), kind: Grass),
        (position: (1, 0, 5), kind: Grass),
        (position: (1, 0, 6), kind: Grass),
        (position: (1, 0, 7), kind: Grass),
        (position: (1, 0, 8), kind: Grass),
        (position: (1, 0, 9), kind: Grass)
    ],
        entities: [
        (id: 1, kind: TriggerOrb, cell: (0, 1, 0), param: 1.0, link: 1),
        (id: 2, kind: RelayGate, cell: (1, 1, -7), param: 4.0, link: 1)
    ],
        tracks: [
        
    ],
        entities_version: 1,
        author_time: Some(9.5),
        author_deaths: 0,
        is_verified: true,
    ),
)
